/*
PWA App Installer for iPadOS
Copyright (C) 2020 Felix v. Oertzen
pwaapp@von-oertzen-berlin.de

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

iPadOS is a trademark of Apple Inc., registered in the U.S. and other countries.*/
.modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        width: 80%; /* Could be more or less, depending on screen size */
        border: 1px solid #888;
        display: table;
        table-layout: auto;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

body {
  font-family:San Francisco, Helvetica Neue, Arial;
  padding: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=submit] {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  font-size: large;
  padding: 10px 24px 10px 24px; /* Some padding */
  margin-top: 24px;
  float: right; /* Float the buttons side by side */
  border-radius: 0px;
  -webkit-appearance:button;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  input[type=submit]{
    margin-top: 12px;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  width: 100%;
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 5px;
  text-align: center;
}
ol {
  list-style: none;
   counter-reset: li;
   margin-bottom: 100px;
}
li::before {
  content: counter(li); color: red;
  display: inline-block; width: 1em;
  margin-left: -1em}
li {
  counter-increment: li;
  padding: 4px;
}
li:hover, li:active {
  text-decoration: underline;
}

span {
  font-size:smaller;
}

#color75 {
  display:flex;
}
